<div class="container-fluid">
	<div class="row justify-content-md-center">
			<% @items.each do |item| %>
				<div class="col col-lg-2">
					<div class="card">
						<div class="card-header">Código: <%= item.code %></div>
						<div class="card-body">
							<div class="card-text"><%= item.item_description %></div>
							<div class="float-right">
								<a href="#" class="btn btn-primary">Comprar</a>	
							</div>
							
						</div>
						<div class="card-footer text-muted">
							Stock: <%= item.stock %>
							<div class="float-right">
								<%= number_to_currency(item.price) %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
