<div class="container-fluid">
  <div class="row">
    <div class="card-body">
      <%= form_for @item, url: {action: "create", namespace: "admin"} do |f| %>
        <% if item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
            <% item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :code, "Código" %>
          </div>
          <div class="col-10">
            <%= f.text_field :code, autofocus: true, placeholder: "Código", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :description, "Descripción" %>
          </div>
          <div class="col-10">
            <%= f.text_field :description, placeholder: "Descripción", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :brand_id, "Marca" %>
          </div>
          <div class="col-10">
            <%= f.collection_select :brand_id, @brands, :id, :name,{selected: @item.brand_id, include_blank: true} , {class: "js-example-basic-single input-diagnosis "}%>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-2">
            <%= f.label :unit_id, "Unidad" %>
          </div>
          <div class="col-10">
            <%= f.collection_select :unit_id, @units, :id, :name, 
                  {selected: @item.unit_id, include_blank: 'Seleccione Unidad'},
                  {class: "js-unit-basic-single form-control"} %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :stock, "Stock" %>
          </div>
          <div class="col-10">
            <%= f.number_field :stock, placeholder: "Stock", class: "form-control", min: 0 %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :category_id, "Categoría" %>
          </div>
          <div class="col-10">
            <%= f.collection_select :category_id, @categories, :id, :name,
                  {selected: @item.category_id, include_blank: 'Seleccione Categoría'}, 
                  {class: "js-category-basic-single form-control"} %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <%= f.label :price, "Precio" %>
          </div>
          <div class="col-10">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" id="priceAddon">$</div>
              </div>
              <%= f.text_field :price, placeholder: "Precio", class: "form-control", "aria-describedby" => "priceAddon" %>
            </div>
          </div>
        </div>

        <%= f.submit "Aceptar", class: "btn btn-success" %>
        <% content_for :js do %>
          <script type="text/javascript">
            $(document).ready(function() {

              $('.js-example-basic-single').select2({
                width: "100%",
                placeholder: "Seleccione Marca",
                allowClear: true
              });
              $('.js-unit-basic-single').select2({
                width: "100%",
                placeholder: "Seleccione Unidad",
                allowClear: true
              });
              $('.js-category-basic-single').select2({
                width: "100%",
                placeholder: "Seleccione Categoría",
                allowClear: true
              });
            });
          </script>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

