<table class="table">
  <thead>
    <tr>
      <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
    </tr>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Unidad</th>
      <th>Stock</th>
      <th>Categoría</th>
      <th>Marca</th>
      <th>Precio</th>
      <th>Fecha de Alta</th>
      <th>Fecha de Modificación</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.code %></td>
        <td><%= item.item_description %></td>
        <td><%= item.unit ? item.unit.name : '' %></td>
        <td><%= item.stock %></td>
        <td><%= item.category ? item.category.name : '' %></td>
        <td><%= item.brand ? item.brand.name : '' %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= item.updated_at.strftime("%d/%m/%Y") %></td>
        <td>
          <%= button_to edit_admin_item_path(item), {method: :get, class: "btn btn-info"} do %>
            <span class="fas fa-pencil-alt" aria-hidden="true"> </span> Editar
          <% end %>
        </td>
        <td>
          <%= button_to admin_item_path(item), { method: :delete, data: { confirm: '¿Está seguro?' }, class: "btn btn-danger" } do %>
            <span class="fas fa-trash" aria-hidden="true"> </span> Eliminar
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>