<div class="container-fluid">
 <div class="row justify-content-md-center">
  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
   <div class="login-panel card card-default">
    <div class="card-header">
     <h3 class="card-title">Inicar sesión</h3>
    </div>
    <div class="card-body">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset>
       <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control" %>
       </div>
       <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: "form-control" %>
       </div>
       <% if devise_mapping.rememberable? -%>
        <div class="field">
         <%= f.check_box :remember_me %>
         <%= f.label :remember_me %>
        </div>
       <% end %>
 
       <%= f.submit "Inicar", class: "btn btn-lg btn-success btn-block" %>
       <%= render "devise/shared/links" %>
      </fieldset>
     <% end %>
    </div>
   </div>
  </div>
 </div>
</div>