<div class="container-fluid">
 <div class="row">
  <div class="card-body">
   <%= form_for @brand, url: {action: "create", namespace: "admin"}  do |f| %>
    <% if brand.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
       <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
       <% end %>
      </ul>
     </div>
    <% end %>

    <div class="form-group">
     <%= f.text_field :name, autofocus: true, placeholder: "Nombre", class: "form-control" %>
    </div>

    <%= f.submit "Aceptar", class: "btn btn-success" %>
   <% end %>
  </div>
 </div>
</div>