<table class="table">
 <thead>
  <tr>
   <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
  </tr>
  <tr>
   <th>Nombre</th>
   <th>Fecha de Alta</th>
   <th>Fecha de Modificación</th>
   <th colspan="2"></th>
  </tr>
 </thead>

 <tbody>
  <div id="brands">
   <% @brands.each do |brand| %>
    <tr>
     <td><%= brand.name %></td>
     <td><%= brand.created_at.strftime("%d/%m/%Y") %></td>
     <td><%= brand.updated_at.strftime("%d/%m/%Y") %></td>
     <td>
      <%= button_to edit_admin_brand_path(brand), {method: :get, class: "btn btn-info"} do %>
       <span class="fas fa-pencil-alt" aria-hidden="true"> </span> Editar
      <% end %>
     </td>
     <td>
      <%= button_to admin_brand_path(brand), { method: :delete, data: { confirm: '¿Está seguro?' }, class: "btn btn-danger" } do %>
       <span class="fas fa-trash" aria-hidden="true"> </span> Eliminar
      <% end %>
     </td>
    </tr>
   <% end %>
  </div>
 </tbody>
</table>