<div class="panel panel-default">
 <div class="panel-heading">Marcas</div>
 <div class="panel-body">
  <%= render partial: 'partials/search_form', locals: { search_entity: 'brands', word: "Marca" } %>
  <br>
  <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
   <p>
    <%= button_to new_admin_brand_path, {method: :get, class: "btn btn-success"} do %>
     <span class="fas fa-plus" aria-hidden="true"> </span> Nueva Marca
    <% end %>
   </p>
  </div>
 </div>
 <%= render partial: 'results_search' %>
</div>