<div class="container">
    <div class="row">
        <div class="col-12">
    		<div class="invoice-title">
    			<h2>Carrito de compra</h2>
    			<h3 class="float-right">Número # <%= @cart.number %></h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-6">
    			</div>
    			<div class="col-6 text-right">
    				<address>
    					<strong>Fecha:</strong><br>
    					<%= @cart.date.strftime("%d/%m/%Y") %><br><br>
    				</address>
    			</div>
    		</div>
    		<div class="row">
		    	<div class="col-md-12">
		    		<div class="card card-default">
		    			<div class="card-header">
		    				<h3 class="card-title"><strong>Detalles de Venta</strong></h3>
		    			</div>
		    			<div class="card-body">
		    				<%= render partial: 'table', locals: { cart: @cart } %>
		    			</div>
		    		</div>
		    	</div>
		    </div>
    	</div>
    </div>
</div>

<%= link_to 'Volver', carts_path %>