<div class="container-fluid">
 <div class="row justify-content-md-center">
  <% if notice.present? %>
   <div class="alert alert-info alert-dismissible fade show col-12" role="alert">
   	<%= notice %>
   	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
   		<span aria-hidden="true">&times;</span>
   	</button>
   </div>
  <% end %>

  <% if alert.present? %>
   <div class="alert alert-danger alert-dismissible fade show col-12" role="alert">
   	<%= alert %>
   	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
   		<span aria-hidden="true">&times;</span>
   	</button>
   	</div>
  <% end %>
 </div>
</div>