<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>

                  <%= link_to "Logout", destroy_user_session_path,method: :delete, class: "margin-left medium btn btn-info navbar-btn" %>
                <% end %>
            </ul>
        </div>
    </div>
</nav>