<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav_land">
  <a class="navbar-brand" href="/main/home">Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>

          <%= link_to "Logout", destroy_user_session_path,method: :delete, class: "margin-left medium btn btn-info navbar-btn" %>
        <% end %>
    </ul>
  </div>
</nav>