<nav id="sidebar">
  <div class="sidebar-header">
      <h3>Tienda</h3>
      <strong>TN</strong>
  </div>

  <ul class="list-unstyled components">
      <li class="<%= current_page?(root_path) ? "active" : "" %>">
    <a href="<%= root_path %>">
      <span style="font-size:14px;" class=" hidden-xs showopacity"><i class="fas fa-sun"></i></span>
     Inicio
     
    </a>
   </li> 
 
   <li >
    <a href="#">
      <span style="font-size:14px;" class="-right hidden-xs showopacity"><i class="fas fa-shopping-cart"></i></span>
     Ventas
     
    </a>
   </li> 
 
   <li >
    <a href="#">
      <span style="font-size:14px;" class="-right hidden-xs showopacity"><i class="fas fa-book"></i></span>
     Contabilidad
     
    </a>
   </li>

   <li class="active">
    <a href="#almacenSubmenu" data-toggle="collapse" aria-expanded="false"><span style="font-size:14px;" class="-right hidden-xs showopacity"><i class="fas fa-home"></i></span>Almacén <i class="fas fa-caret-down"></i>
     
    </a>
    <ul class="collapse list-unstyled" id="almacenSubmenu">
     <li ><%= link_to 'Artículos', admin_items_path %></li>
    </ul>
   </li>

   <li>
    <a href="#configSubmenu" data-toggle="collapse" aria-expanded="false">
      <span style="font-size:14px;" class="-right hidden-xs showopacity"><i class="fas fa-wrench"></i></span>
     Configuración
     <i class="fas fa-caret-down hidden-xs showopacity"></i>
     
    </a>
    <ul class="collapse list-unstyled" id="configSubmenu">
     <li class="<%= current_page?(admin_categories_path) ? "active" : "" %>"><%= link_to 'Categorías', admin_categories_path %></li>
     <li class="<%= current_page?(admin_brands_path) ? "active" : "" %>"><%= link_to 'Marcas', admin_brands_path %></li>
     <li class="<%= current_page?(admin_units_path) ? "active" : "" %>"><%= link_to 'Unidades', admin_units_path %></li>
     <li class="<%= current_page?(admin_cities_path) ? "active" : "" %>"><%= link_to 'Localidades', admin_cities_path %></li>
     <li class="<%= current_page?(admin_users_path) ? "active" : "" %>"><%= link_to 'Usuarios', admin_users_path %></li>
     <li class="divider"></li>
     <li><a href="#">Respaldo</a></li>
    </ul>
   </li>
  </ul>

</nav>