<%= form_with(model: cart_detail, local: true) do |form| %>
  <% if cart_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart_detail.errors.count, "error") %> prohibited this cart_detail from being saved:</h2>

      <ul>
      <% cart_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sale_id %>
    <%= form.number_field :sale_id, id: :cart_detail_sale_id %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :cart_detail_number %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id, id: :cart_detail_item_id %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.number_field :qty, id: :cart_detail_qty %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :cart_detail_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
