<p id="notice"><%= notice %></p>

<h1>Cart Details</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th>Number</th>
      <th>Item</th>
      <th>Qty</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_details.each do |cart_detail| %>
      <tr>
        <td><%= cart_detail.sale_id %></td>
        <td><%= cart_detail.number %></td>
        <td><%= cart_detail.item_id %></td>
        <td><%= cart_detail.qty %></td>
        <td><%= cart_detail.price %></td>
        <td><%= link_to 'Show', cart_detail %></td>
        <td><%= link_to 'Edit', edit_cart_detail_path(cart_detail) %></td>
        <td><%= link_to 'Destroy', cart_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart Detail', new_cart_detail_path %>
