<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @cart_detail.sale_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @cart_detail.number %>
</p>

<p>
  <strong>Item:</strong>
  <%= @cart_detail.item_id %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @cart_detail.qty %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cart_detail.price %>
</p>

<%= link_to 'Edit', edit_cart_detail_path(@cart_detail) %> |
<%= link_to 'Back', cart_details_path %>
