<div class="container-fluid">
  <div class="row">
    <div class="card-body">
      <%= form_for @user, url: {action: "update", namespace: "admin"} do |f| %>
        <% if user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <fieldset>
         <div class="form-group">

          <div class="form-group">
           <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control" %>
          </div>

          <div class="form-group">
           <%= f.text_field :username, autofocus: true, placeholder: "Username", class: "form-control" %>
          </div>

          <div class="form-group">
           <%= f.text_field :name, autofocus: true, placeholder: "Nombre", class: "form-control" %>
          </div>

          <div class="form-group">
           <%= f.text_field :last_name, autofocus: true, placeholder: "Apellido", class: "form-control" %>
          </div>

          <div class="form-group">
           <%= f.text_field :telf, autofocus: true, placeholder: "Número de teléfono", class: "form-control" %>
          </div>

          <div class="form-group">
           <%= f.collection_select :city_id, @cities, :id, :name,{selected: @user.city_id, include_blank: true} , {class: "js-city-single input-diagnosis "}%>
          </div>

          <div class="form-group">
           <%= f.collection_select :role, User.roles.map { |e| [e.first, e.first]  }, :first, :second , {class: "js-city-single input-diagnosis "}%>
          </div>

          <div class="form-group">
            <%= f.radio_button :genre, 'M' %>
            <%= f.label :genre, 'Male', :value => 'M' %>
            <%= f.radio_button :genre, 'F' %>
            <%= f.label :genre, 'Female', :value => 'F' %>
          </div>
          <div class="contenedor-select">
            <%= f.date_select :birthday, start_year: Date.today.year - 100, end_year: Date.today.year - 10, :order => [:day,:month,:year] %>
          </div>
          <br>
          <%= f.submit "Aceptar", class: "btn btn-lg btn-success btn-block" %>
          <% content_for :js do %>
            <script type="text/javascript">
              $(document).ready(function() {

                $('.js-city-single').select2({
                  width: "100%",
                  placeholder: "Seleccione Ciudad",
                  allowClear: true
                });
              });
            </script>
          <% end %>
         </div>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>
