<table class="table">
  <thead>
    <tr>
      <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
    </tr>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Username</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Fecha de nacimiento</th>
      <th>Género</th>
      <th>Ciudad</th>
      <th>Role</th>
      <th>Fecha de Alta</th>
      <th>Fecha de Modificación</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.telf %></td>
        <td><%= user.birthday %></td>
        <td><%= user.genre %></td>
        <td><%= user.city.name %></td>
        <td><%= user.role %></td>
        <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= user.updated_at.strftime("%d/%m/%Y") %></td>
        <td>
          <%= button_to edit_admin_user_path(user), {method: :get, class: "btn btn-info"} do %>
            <span class="fas fa-pencil-alt" aria-hidden="true"> </span> Editar
          <% end %>
        </td>
        <td>
          <%= button_to admin_user_path(user), { method: :delete, data: { confirm: '¿Está seguro?' }, class: "btn btn-danger" } do %>
            <span class="fas fa-trash" aria-hidden="true"> </span> Eliminar
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>