<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shop</title>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/web-fonts-with-css/css/fontawesome-all.css">
  <link href="/select2-4.0.6-rc.1/dist/css/select2.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
 </head>

 <body class="<%= controller_name %> <%= action_name %>">

  <% if user_signed_in? %>
    <div class="wrapper">
		<%= render 'partials/sidebar' %>
    	<div id="content">
    		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			    <div class="container-fluid">

			        <div class="navbar-header">
			            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
			                <i class="fas fa-align-left"></i>
			                <span>Alternar Barra</span>
			            </button>
			        </div>

			        <div class="collapse navbar-collapse" id="navbarSupportedContent">
			            <ul class="nav navbar-nav ml-auto">
			                <% if user_signed_in? %>

			                  <%= link_to "Logout", destroy_user_session_path,method: :delete, class: "margin-left medium btn btn-info navbar-btn" %>
			                <% end %>
			            </ul>
			        </div>
			    </div>
			</nav>
    		<%= render 'partials/alerts' %>
 
      		<%= yield %>	
    	</div> 
    	
     </div>
  <% else %>
   <br>
   <div class="row justify-content-md-center">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
     <%= render 'partials/alerts' %>
    </div>
   </div>
 
   <%= yield %>
  <% end %>
  
  <script type="text/javascript">
     $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
             $('#sidebar').toggleClass('active');
         });

         $('.alert').alert()
     });
 	</script>

  <%= yield :js %>
  <script src="/select2-4.0.6-rc.1/dist/js/select2.min.js"></script>
 </body>
</html>