<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shop</title>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/web-fonts-with-css/css/fontawesome-all.css">
  <link href="/select2-4.0.6-rc.1/dist/css/select2.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
 </head>

 <body class="<%= controller_name %> <%= action_name %>">

  <% if user_signed_in? %>
    		<%= render 'partials/nav_land' %>
      <div id="content">
    		<%= render 'partials/alerts' %>
 
      		<%= yield %>	
    	</div> 
    	
     </div>
  <% else %>
   <br>
   <div class="row justify-content-md-center">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
     <%= render 'partials/alerts' %>
    </div>
   </div>
 
   <%= yield %>
  <% end %>
  <script type="text/javascript">
     $(document).ready(function () {

         $('.alert').alert()
     });
  </script>
  <%= yield :js %>
  <script src="/select2-4.0.6-rc.1/dist/js/select2.min.js"></script>
 </body>
</html>