<div class="container-fluid">
 <div class="row justify-content-md-center">
  <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
   <div class="login-card card card-default">
    <div class="card-header">
     <h3 class="card-title">Registrarse</h3>
    </div>
    <div class="card-body">
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <fieldset>
       <div class="form-group">
        <%= devise_error_messages! %>

        <div class="form-group">
         <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control" %>
        </div>

        <div class="form-group">
         <%= f.text_field :username, autofocus: true, placeholder: "Username", class: "form-control" %>
        </div>

        <div class="form-group">
         <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: "form-control" %>
        </div>

        <div class="form-group">
         <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Repetir Contraseña", class: "form-control" %>
        </div>

        <div class="form-group">
         <%= f.text_field :name, autofocus: true, placeholder: "Nombre", class: "form-control" %>
        </div>

        <div class="form-group">
         <%= f.text_field :last_name, autofocus: true, placeholder: "Apellido", class: "form-control" %>
        </div>

        <div class="form-group">
         <%= f.text_field :telf, autofocus: true, placeholder: "Número de teléfono", class: "form-control" %>
        </div>

        <div class="form-group">
         <%= f.collection_select :city_id, @cities, :id, :name,{selected: @user.city_id, include_blank: true} , {class: "js-city-single input-diagnosis "}%>
        </div>

        <div class="">
          <%= f.radio_button :genre, 'M' %>
          <%= f.label :genre, 'Male', :value => 'M' %>
          <%= f.radio_button :genre, 'F' %>
          <%= f.label :genre, 'Female', :value => 'F' %>
        </div>
        <div class="contenedor-select">
          <%= f.date_select :birthday, start_year: Date.today.year - 100, end_year: Date.today.year - 10, :order => [:day,:month,:year] %>
        </div>
        <br>
        <%= f.submit "Iniciar", class: "btn btn-lg btn-success btn-block" %>
        <% content_for :js do %>
          <script type="text/javascript">
            $(document).ready(function() {

              $('.js-city-single').select2({
                width: "100%",
                placeholder: "Seleccione Ciudad",
                allowClear: true
              });
            });
          </script>
        <% end %>
       </div>
      </fieldset>
     <% end %>

     <%= render "devise/shared/links" %>

    </div>
   </div>
  </div>
 </div>
</div>